{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <h1>About</h1>
    <div class="aboutlist">
        <h3>Länkar</h3>
        <ul>
            <li><a href="https://github.com/dbwebb-se/mvc">Kursens Git-repo</a></li>
            <li><a href="">Mitt Git-repo</a></li>
        </ul>
    </div>

    <div class="about">
        <h3>MVC</h3>
        <p>
            Kursen MVC lär ut objektorienterad programmering i PHP. Vi utforskar grundläggande 
            objektorienterade koncept och applicerar 
            dem i webbutveckling med ramverk, inklusive databashantering och enhetstestning
        </p>
    </div>

    <div class="aboutimg">
        <img src="{{ asset('img/php.jpg') }}" alt="PHP">
    </div>

    {#<p>An image which can be clicked on.</p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a>
    <img src="{{ asset('build/images/background.jpg') }}" alt=""> #}
{% endblock %}
