{% extends "base.html.twig" %}

{% block title %}Report - Kmom01{% endblock %}

{% block main %}
    <h1>Kmom01</h1>
    <p>Redovisningstext för Kmom01.</p>
    <!-- Additional content specific to Kmom01 -->
{% endblock %}