{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
    <h1>Report</h1>

    <div class="kmomlist">
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom07">Kmom07</a></li>
        </ul>
    </div>
    
    <div class="kmom">
        <h2 id="kmom01">Kmom01</h2>
        <p>Redovisningstext för Kmom01.</p>
    </div>
    
    <div class="kmom">
        <h2 id="kmom02">Kmom02</h2>
        <p>Redovisningstext för Kmom02.</p>
    </div class="kmom">

    <div class="kmom">
        <h2 id="kmom03">Kmom03</h2>
        <p>Redovisningstext för Kmom03.</p>
    </div class="kmom">

    <div class="kmom">
        <h2 id="kmom04">Kmom04</h2>
        <p>Redovisningstext för Kmom04.</p>
    </div>

    <div class="kmom">
        <h2 id="kmom05">Kmom05</h2>
        <p>Redovisningstext för Kmom05.</p>
    </div>

    <div class="kmom">
        <h2 id="kmom06">Kmom06</h2>
        <p>Redovisningstext för Kmom06.</p>
    </div class="kmom">

    <div class="kmom">
        <h2 id="kmom07">Kmom07</h2>
        <p>Redovisningstext för Kmom07.</p>
    </div>  
{% endblock %}
