/*
main {
    flex-grow: 1;
    padding: 2em;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main h1 {
    grid-column: 1 / span 12;
    margin-bottom: 25px;
}*/

.jag {
    grid-column: 2 / span 5;
}

.jag img {
    width: 400px;
    border-radius: 20%;
}

.jagtxt{
    grid-column: 7 / span 5;
    align-self: center;
}

.jagtxt h2{
    margin-bottom: 30px;
}