{% extends "base.html.twig" %}

{% block title %}Kortlek{% endblock %}

{% block main %}
    <div class="main">
        <h1>Kortlek</h1>

        <div class="grid">
            {% for card in hand %}
                <span>{{card}}</span>
            {% endfor %}
        </div>

        {{ include('card/cardform.html.twig') }}
    </div>
{% endblock %}