{% extends "base.html.twig" %}

{% block title %}Kortlek{% endblock %}

{% block main %}
    <h1>Kortlek</h1>

    <div class="grid">
        <span>{{ card }}</span>
    </div>

    {{ include('card/cardform.html.twig') }}
{% endblock %}