{% extends "base.html.twig" %}

{% block title %}Kortspel{% endblock %}

{% block main %}
    <h1>Kortspel</h1>
    <div class="grid">
        <a href={{ path('deck') }}>Kortlek</a>
    </div>
{% endblock %}