{% extends "base.html.twig" %}

{% block title %}Kortspel21{% endblock %}

{% block main %}
    <h1>Kortspel21</h1>
    <div class="grid">
        <div class="span8">
            <a class="button green" href={{ path('game21_play') }}>Spela</a>
        </div>

        <div class="span4">
            <h3>Kortspel21 info</h3>
            <div class="txt">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
{% endblock %}