.about {
    grid-column: 3 / span 5;
}

.about h3, .aboutlist h3 {
    margin-bottom: 20px;
}

.aboutlist li {
    margin-bottom: 10px;
}

.aboutlist a {
    text-decoration: none;
    color: #536B9B;
}

.aboutlist a:hover {
    color: #6B6E29;
}

.aboutimg{
    grid-column: 8 / span 4;
}

.aboutimg img {
    width: 400px;
    border-radius: 20%;
}

.aboutlist {
    grid-column: 1 / span 2;
    border-right: 1px solid black;
}

.aboutlist ul {
    list-style-type: none;
}