{% extends "projbase.html.twig" %}

{% block main %}
    <div class="proj-content">
        <h1>OM PROJEKT</h1>
        <div class="text">
            <p>
                Detta är slutprojektet för kursen MVC och jag har valt att göra blackjack. Blackjack är ett kortspel som går
                ut på att spelaren ska komma så nära 21 som möjligt utan att överstiga det. i projektet så kan man vara höst 3
                spelare och minst en. Varje spelare börjar med credit på 1000 och man kan antigen öka den credit geonom att vinna
                mot dealern eller sänka det genom att förlora. förlorar en spelare allt så skickas dem ut ur spelet.
            </p>
        </div
    </div>
{% endblock %}
