*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-family: $font-body;

}

html, body {
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4 {
    color: $darkdark;
}
