.button {
    appearance: none;
    background-color: $darkwhite;
    border: 1px solid $lightdark;
    border-radius: 6px;
    color: $darkdark;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.green {
    background-color: $softgreen;
}

.button a:hover {
    border-color: $brightyellow;
  }
  

.button a:focus {
    outline: 1px transparent;
}

form input[type=number], input[type=text], input[type=submit], input[type=file], select {
    // width: 20%;
    padding: 6px 16px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    display: block;
    margin-top: 20px;
}

.block{
    display: block;
}

.margin40 {
    margin-top: 40px;
}

.greenbg {
    background-color: $maincolor;
    margin: 2em auto;
}

.greenbg a{
    color: $textcolor !important;
}

.greenbg:hover {
    background-color: $accolor;
}

.yellow {
    background-color: $accolor;
}

.yellow a {
    color: $textcolor !important;
}

.yellow:hover {
    background-color: $comcolor;
}