.site-main {
    flex-grow: 1;
    padding: 5em;
}

.site-main h1 {
    display: inline;
    margin-bottom: 10px;
    border-bottom: 1px solid $lightgray;
}

p{
    margin: 0.6em 0;
    line-height: 1.3;
}