.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid $darklight;
}

.site-nav ul {
    list-style-type: none;
    margin: 1em 0;
    padding-right: 5em;
}

.site-nav li{
    display: inline;
    padding: 9px;
}

.site-nav a {
    display: inline-block;
    text-decoration: none;
    color: $darkdark;
    font-weight: 700;
}

.site-nav a:hover{
    color: $bluegray;
}

.site-nav.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $white;
}