@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Font
$font-body: "Lato", sans-serif;

//color
$darkdark: #292929;
$dark: #333;
$darklight: #555;
$lightdark: #999;
$gray: #808080;
$lightgray: #D3D3D3;
$bluegray: #536878;
$darkwhite: #F2F2F2;
$yellow: #8B8000;
$darkblue: #000058;
$brightyellow: #ffff00;
$white: #fff;