{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <h1>About</h1>

    <div class="grid">
        <div class="list span3">
            <h3>Länkar</h3>
            <ul>
                <li><a href="https://github.com/dbwebb-se/mvc">Kursens Git-repo</a></li>
                <li><a href="https://github.com/teophilsimao/report">Mitt Git-repo</a></li>
            </ul>
        </div>

        <div class="txt span4">
            <h3>MVC</h3>
            <p>
                Kursen MVC lär ut objektorienterad programmering i PHP. Vi utforskar grundläggande 
                objektorienterade koncept och applicerar 
                dem i webbutveckling med ramverk, inklusive databashantering och enhetstestning
            </p>
        </div>

        <div class="bild span5">
            <img src="{{ asset('img/php.jpg') }}" alt="PHP">
        </div>
    </div>
    {# <img src="{{ asset('build/images/background.jpg') }}" alt=""> #}
{% endblock %}