{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Home</h1>

    <div class="grid">

        <div class="bild span1">
            <img src="{{ asset('img/jag.jpg') }}" alt="Bild P책 Mig">
        </div>

        <div class="txt span2">
            <h2>Presentation</h2>
            <p>
                Hej hej! Jag heter Teophil Simao och 채r 23 책r gammal.
                Jag bor i Stockholm och tycker om att spendera tid med familjen och v채nner.
            </p>
        </div>
    </div>
{% endblock %}