{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <div class="grid">
        <div class="bild span7">
            <img src="{{ asset('img/' ~ image) }}" alt="Bild På Mig">
            <div class="numer">
                <span>{{ number }}</span>
            </div>
        </div>
    </div>
{% endblock %}