{% extends "base.html.twig" %}

{% block title %}Session Data{% endblock %}

{% block main %}
    <div class="main">
        <h1>Session Data</h1>

        <pre>
            {{ dump(sessionData) }}
        </pre>
    </div>
{% endblock %}